.tooltipContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  color: #ffff;
  padding: 8px 12px;
}

.tooltipMessage {
  flex: 1;
  font-size: 14px;
  white-space: normal;
}
